
/* model css*/
.modal-dialog {
    margin: 0px auto;
}

.modal-backdrop.fade {
    opacity: 0.1;
    filter: alpha(opacity=0.1);
}

.modal-content {
    position: relative;
    background-color: #FFF;
    border: 1px solid #CECECE;
    border-radius: 0px;
    -webkit-box-shadow:none;
    box-shadow: none;
    background-clip: padding-box;
    outline: 0;
}


.modal-header {
    padding: 11px 15px;
    background-color: #F8F8F8;
    background: -webkit-linear-gradient(top, #F8F8F8, #F2F2F2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);
}
@media (min-width: 768px){
    .modal-dialog {
        width: 600px;
        margin: 0px !important;
        left:35%;
    }
}
/* for model css ends her */
.left_menu{border: 1px solid #e0dfdf;padding:5px}
.inner_content{clear:both;min-height:400px;}